/* Text Colors */

.text-white, .text-white * { color: white; }
.text-grey, .text-grey * { color: #565562; }
.text-green, .text-green * { color: #92C83D; }
.text-blue, .text-blue * { color: #4A4AB0; }
.text-dark-blue, .text-dark-blue * { color: #22215F; }


/* Background Colors */

.background-grey { background-color: #565562; }
.background-sky-blue { background-color: #DEE7FF; }
.background-green { background-color: #92C83D; }
.team-background { 
    background-image: url('../images/team-bg.png');
    background-size: cover;
}
.home-background { 
    background-image: url('../images/home-bg.png');
    background-size: cover;
}
.logo { 
    background-image: url('../images/logo.png');
    background-size: cover;
}


/* Font CSS */

.text-cinzel { font-family: 'Cinzel', serif; }
.text-raleway { font-family: 'Raleway', sans-serif; }


/* Border Colors */

.border-blue-1 { border: solid 1px #4A4AB0; }
.border-white-1 { border: solid 1px white; }
.border-white-2 { border: solid 2px white; }
.border-top-green-10 { border-top: solid 10px #92C83D; }
.border-bottom-white-10 { border-bottom: solid 10px white; }


/* Shadow CSS */

.box-shadow-down-small { box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }


/* Universal Styles */

html, body {
    font-family: 'Raleway', sans-serif;
}

input, textarea, select { border-radius: 0 !important; }
label, input[type="submit"] { color: #4A4AB0 !important; }